@import url('reset.css');
@import url('media.css');

body {
    font-size: 1rem;
    -ms-overflow-style: none;
    font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

#main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 93.5vh;
    background-color: rgba(241, 238, 238, 0.908);
}

.alert {
    position: absolute;
    z-index: 2;
    width: 100%;
    animation: alert 0s ease-in-out 2s forwards;
}

#index {

    .indexMap {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        margin-top: 3rem;

        .mapboxgl-ctrl-logo,
        .mapboxgl-ctrl-attrib-inner {
            display: none;
        }

        .card {
            transition: all 0.4s ease-in;
            border-radius: .35rem;
            border: 0.03rem solid rgba(95, 93, 93, 0.341);
            box-shadow: .05rem .05rem 0 0 rgba(81, 79, 79, 0.875);
            padding: .8rem .6rem;

            &:hover {
                transform: scale(1.08) translateY(-.5rem);
                cursor: pointer;

                &>.outer {
                    transform: scale(1.015);
                }
            }

            .outer {
                display: flex;
                margin: .25rem;
                border-radius: .35rem;
                box-shadow: .4rem .4rem .8rem .05rem rgba(56, 56, 56, 0.753);
                transition: all .6s ease-in .1s;

                .img {
                    img {
                        width: 20rem;
                        border-bottom-left-radius: .35rem;
                        border-top-left-radius: .35rem;
                    }
                }

                .content {
                    position: relative;
                    border-top-right-radius: .35rem;
                    border-bottom-right-radius: .35rem;
                    border-left: none;
                    width: 10rem;
                    flex-grow: 1;

                    .card-body {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: space-around;
                        height: 100%;

                        .title {
                            font-size: 1.5rem;
                            margin: 0;
                            text-align: center;
                            line-height: 2rem;

                        }

                        .location {
                            margin: .5rem 0 0 .5rem;
                            display: inline;
                            text-align: center;
                        }

                        .description {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-grow: 2;
                            text-align: center;
                            height: 50%;
                            text-overflow: ellipsis;
                        }

                        a:focus {
                            box-shadow: none;
                            background-color: #0d6efd;
                        }

                    }
                }
            }
        }
    }
}

#wall {
    display: flex;
    height: 93.5vh;
    background-color: rgba(211, 208, 208, 0.907);

    ::-webkit-scrollbar {
        display: none;
    }

    .banner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30vw;
        height: 100%;
        background-size: cover;
        background-position: center;
        color: rgba(255, 255, 255, 0.682);

        h1 {
            writing-mode: vertical-lr;
            font-size: 4rem;
            font-weight: bolder;
            letter-spacing: 2rem;
            color: #fff;
            margin-top: 15%;
        }

        .smallText {
            position: absolute;
            bottom: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1.5rem;
                margin-top: 2rem;
                letter-spacing: 1rem;
            }
        }
    }

    .row {
        height: max-content;
        width: 70vw;
        max-height: 95vh;
        overflow-y: scroll;
        margin-left: 0rem;

        .photoBlock {
            position: relative;
            transition: z-index .5s ease;
            flex-grow: 0;
            flex-shrink: 0;
            height: max-content;

            &:hover {
                transition: all 1.2s ease;
                cursor: pointer;
                z-index: 1;
                transform: scale(1.05);

                &>.filter {
                    background-color: rgba(21, 20, 20, 0.387)
                }

                &>.text {
                    opacity: 1;
                    transform: translateX(0);

                    &>.button,
                    .arrow {
                        transform: translateX(0);
                    }
                }
            }

            .img {
                width: 100%;
            }

            .filter {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                max-height: 100%;
                transition: all 2s ease;
            }

            .text {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                max-height: 100%;
                opacity: 0;
                transform: translateX(-5%);
                transition: all 2s ease;

                .detail {
                    position: absolute;
                    top: 10%;
                    left: 7%;
                    color: #fff;
                    font-size: 1rem;
                    margin-bottom: 5rem;

                    h3 {
                        margin: .25rem 0 .5rem 0;
                    }

                    p {
                        color: rgb(214, 208, 208);
                    }
                }

                .line {
                    position: absolute;
                    right: 5%;
                    bottom: 20%;
                    border-top: 0.15rem solid rgba(214, 208, 208, 0.577);
                    width: 90%;

                }

                .button {
                    position: absolute;
                    bottom: 5%;
                    left: 7%;
                    width: 100%;
                    font-size: 1.25rem;
                    color: #fff;
                }

                .arrow {
                    position: absolute;
                    bottom: 0;
                    right: 5%;
                    width: 4.5rem;
                    height: 3.5rem;
                    transform: translateX(-50%);
                    transition: all 3s ease;
                }
            }
        }

        .endBlock {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 2rem;
            color: black;
            background-color: rgba(224, 221, 221, 0.911);
            transition: all 1s ease;

            &:hover {
                transform: scale(1.05);
                z-index: 1;
                cursor: pointer;
                background-color: #fff;
            }
        }
    }
}

#login {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 95vh;
    margin: 0;
    background-image: linear-gradient(rgba(177, 174, 174, 0.1), rgba(177, 174, 174, 0.1)),
        url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;

    div {
        background-color: transparent;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(26, 84, 48, 0.48);
        color: #fff;

        img {
            width: 5rem;
            margin: 1rem;
            filter: opacity(.8);
        }

        .form-control {
            border: none;
            transition: none;

            &:focus {
                box-shadow: 0 0 0 0;
            }
        }

        button {
            border-color: rgba(37, 128, 72, 0.48);
            background-color: rgba(29, 122, 64, 0.692);
        }
    }

    input {
        text-align: center;
    }
}

#register {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 95vh;
    margin: 0;
    background-image: linear-gradient(rgba(177, 174, 174, 0.1), rgba(177, 174, 174, 0.1)),
        url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;

    &>div {
        text-align: center;
    }

    .outerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;

        img {
            width: 10rem;
            margin-bottom: .5rem;
        }

        h1 {
            margin-bottom: 3rem;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: .9;

            .form-control {
                border: none;
                transition: none;

                &:focus {
                    box-shadow: 0 0 0 0;
                }
            }

            label {
                opacity: 1;
            }

            input {
                width: 15rem;
            }

            button {
                margin-top: 2rem;
                width: 20rem;
                background-color: #A7D8B8;
                color: #214E34;
            }
        }


    }

    input {
        text-align: center;
    }
}

#detail {
    display: flex;
    height: 90vh;
    padding: 2rem 5rem;
    height: 93.5vh;
    margin-top: 2%;

    .col-l {
        width: 35%;
        margin-right: 5%;
        height: max-content;
        max-height: 100%;
        padding: 0;
        box-shadow: .5rem .85rem .4rem .05rem rgba(56, 56, 56, 0.341);
        overflow: scroll;

        .card {
            margin-bottom: 0 !important;

            .card-body {
                .card-title {
                    font-size: 2rem;
                    font-weight: bolder;
                    letter-spacing: .2rem;
                }

                .card-text {
                    display: flex;
                    align-items: center;
                    min-height: 4rem;
                    font-size: 1.2rem;
                }
            }

            ul {
                li {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;

                    span {
                        margin-top: .15rem;
                    }
                }
            }
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .col-r {
        width: 60%;
        height: 100%;
        padding: 0;

        #map {
            position: relative;
            width: 100%;
            height: 40%;
            box-shadow: .3rem .3rem .4rem .05rem rgba(56, 56, 56, 0.341);

            .mapboxgl-ctrl-logo,
            .mapboxgl-ctrl-attrib-inner {
                display: none;
            }
        }

        .reviewForm {
            border: .5px solid #cdd7d658;
            border-radius: .1rem;
            margin-top: 1rem;
            height: 15%;
            width: 100%;
            position: relative;
            box-shadow: .3rem .3rem .4rem .05rem rgba(56, 56, 56, 0.341);

            .reviewInput {
                height: 70%;

                .text {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    resize: none;
                    display: block; //消除input元素換行產生的下方間隙
                    border: none;
                    outline: none;
                    padding: 1rem;
                }

                .invalid-feedback {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                }
            }

            .reviewBottom {
                border: none;
                border-bottom: 1px solid #a09f9f84;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 32%;
                border-radius: .1rem;
                background-color: rgb(0, 0, 0, 0.03);

                .l-container {
                    display: flex;
                    align-items: center;
                    height: 100%;

                    .starability-basic {
                        margin-top: .9rem;
                        transform: scale(.6);
                    }

                    span {
                        font-size: 1rem;
                        font-weight: bold;
                        margin-left: 1rem;
                        margin-right: -1rem;
                        color: rgb(95, 90, 90);
                    }
                }

                button {
                    width: 4rem;
                    font-size: .8rem;
                    margin-right: 1rem;
                    padding: .1rem;
                    background-color: #00C48A;
                    color: #fff;
                    border-radius: .2rem;
                }
            }
        }

        .reviews {
            overflow-y: scroll;
            margin-top: 1rem;

            .review {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                border: .5px solid #cdd7d647;
                margin-bottom: .5rem;
                box-shadow: .5rem .3rem .4rem .05rem rgba(56, 56, 56, 0.341);
                background-color: #fff;
                

                .reviewTitle {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding: .1rem 0.1rem 0.1rem 0rem;
                    background-color: rgba(0, 0, 0, 0.076);
                    color: #101011f0;

                    .starability-result {
                        transform: scale(.6) translateY(10%);
                    }

                    p {
                        margin-bottom: .2rem;
                        font-size: .5rem;
                    }

                    .date {
                        color: rgb(126, 121, 121);
                    }
                }

                .reviewContent {
                    display: flex;
                    align-items: center;
                    width: 80%;
                    padding: 1rem;
                    overflow: hidden;
                    vertical-align: middle;
                }

                form {
                    width: 10%;
                    height: 100%;

                    button {
                        position: relative;
                        top: 15%;
                        right: 15%;
                        float: right;
                        padding: .5rem;
                        height: 70%;
                        border: none;

                        span {
                            font-size: .5rem;
                            writing-mode: vertical-lr;
                            text-align: center;
                            margin-right: .25rem;
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar {
            display: none;
        }
    }   
}

#add {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 95vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;

    .row {
        background-color: transparent;

        .outer {
            background-color: transparent;

            img {
                min-width: 100%;
                height: 17vw;
            }

            .card {
                width: 30vw;
                background-color: transparent;

                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #98959546;
                    color: #fff;
                    padding: 5%;

                    form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .mb-3 {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }

                        .form-control {
                            border: none;
                            transition: none;

                            &:focus {
                                box-shadow: 0 0 0 0;
                            }
                        }

                        .description {
                            height: 8rem;
                            resize: none;
                        }

                        input {
                            text-align: center;

                        }

                        button {
                            width: 50%;
                            transform: translateX(50%);
                            background-color:  #706d6d46;
                            color: rgba(255, 255, 255, 0.98);
                            margin-top: 10%;
                            font-weight: bold;

                            &:hover {
                            background-color: rgba(24, 95, 14, 0.544);
                            color: rgba(240, 236, 236, 0.98);
                            transform: translateX(50%) scale(1.05);
                            font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

#edit {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 95vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    padding: 2rem;

    .row {
        background-color: transparent;

        .outer {
            background-color: transparent;

            &>.card {
                width: 35vw;
                background-color: transparent;

                h1 {
                    font-size: 2.5rem;
                }

                .card-img-top {
                    height: 32vh;
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #b8baba73;
                    color: #fff;

                    form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-self: stretch;
                        padding: 0 10%;

                        .mb-3 {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }

                        .form-control {
                            border: none;
                            transition: none;

                            &:focus {
                                box-shadow: 0 0 0 0;
                            }
                        }

                        .description {
                            height: 8rem;
                            resize: none;
                        }

                        .delImg {
                            flex-direction: row;
                        }

                        input {
                            text-align: center;

                        }

                        h6 {
                            text-align: center;
                        }

                        .buttonBlock {
                            display: flex;
                            justify-content: space-around;
                            flex: 1 1 auto;

                            button {
                                transform: translateX(50%);
                                background-color: #31a131c4;
                                border-radius: .35rem;
                                border-color: #ffffff00;
                                color: #fff;
                                font-weight: bold;
    
                                &:hover {
                                background-color: rgba(255, 255, 255, 0.865);
                                color: #31a131c4;
                                transform: translateX(50%) scale(1.05);
                                }
                            }

                            a {
                                background-color: rgba(30, 74, 163, 0.662);
                                border-color: rgba(195, 199, 206, 0.49);
                                color: #fff;
                                border-radius: .35rem;
                                font-weight: bold;

                                &:hover {
                                    background-color: rgba(255, 255, 255, 0.865);
                                    border-color: #ffffffc4;
                                    color: rgba(30, 74, 163, 0.662);
                                    transform: scale(1.05);
                                    }
                            }
                        }
                    }
                }
            }
        }
    }

}

#navbar {
    padding: 1rem;

    .logo {
        width: 3rem;
        margin-right: .5rem;
    }

    .active {
        text-decoration: underline;
        text-underline-offset: .7rem;
    }

    a {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-right: 2rem;
        transition: all .7s ease;
        line-height: 1.5rem;

        &:hover {
            color: #fff;
        }

        &:focus {
            transform: scale(1.1);
        }
    }

    .nav-L {
        .home {
            font-size: 2rem;
            margin-left: 1rem;
            color: rgb(233, 230, 230);
        }
    }

    .nav-R {
        margin: 0;
    }
}

#error {
    display: flex;
    flex-direction: column;
    align-items: center;

    .alert {
        animation: none;
        width: 35%;
        height: 70%;
    }
}


//--------------------------------------------------------------------//

@keyframes alert {
    0% {}

    100% {
        z-index: -1;
        visibility: hidden;
    }
}

