<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ANIMAL WORLD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-L">
                <a class="nav-link active" aria-current="page" href="/">主頁</a>
                <a class="nav-link" href="/animals">動物們</a>
                <a class="nav-link" href="/animals/add">添加</a>
            </div>
            <div class="navbar-nav ms-auto nav-R">
                <% if(currentUser) {%>
                    <a href="/logout" class="nav-link">登出</a>
                    <%} else {%>
                        <a href="/login" class="nav-link">登錄</a>
                        <a href="/register" class="nav-link">註冊</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>