@charset "UTF-8";
@import url("reset.css");
@import url("media.css");
body {
  font-size: 1rem;
  -ms-overflow-style: none;
  font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

#main {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 93.5vh;
  background-color: rgba(241, 238, 238, 0.908);
}

.alert {
  position: absolute;
  z-index: 2;
  width: 100%;
  -webkit-animation: alert 0s ease-in-out 2s forwards;
          animation: alert 0s ease-in-out 2s forwards;
}

#index .indexMap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}
#index .indexMap .mapboxgl-ctrl-logo,
#index .indexMap .mapboxgl-ctrl-attrib-inner {
  display: none;
}
#index .indexMap .card {
  transition: all 0.4s ease-in;
  border-radius: 0.35rem;
  border: 0.03rem solid rgba(95, 93, 93, 0.341);
  box-shadow: 0.05rem 0.05rem 0 0 rgba(81, 79, 79, 0.875);
  padding: 0.8rem 0.6rem;
}
#index .indexMap .card:hover {
  transform: scale(1.08) translateY(-0.5rem);
  cursor: pointer;
}
#index .indexMap .card:hover > .outer {
  transform: scale(1.015);
}
#index .indexMap .card .outer {
  display: flex;
  margin: 0.25rem;
  border-radius: 0.35rem;
  box-shadow: 0.4rem 0.4rem 0.8rem 0.05rem rgba(56, 56, 56, 0.753);
  transition: all 0.6s ease-in 0.1s;
}
#index .indexMap .card .outer .img img {
  width: 20rem;
  border-bottom-left-radius: 0.35rem;
  border-top-left-radius: 0.35rem;
}
#index .indexMap .card .outer .content {
  position: relative;
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  border-left: none;
  width: 10rem;
  flex-grow: 1;
}
#index .indexMap .card .outer .content .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: 100%;
}
#index .indexMap .card .outer .content .card-body .title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  line-height: 2rem;
}
#index .indexMap .card .outer .content .card-body .location {
  margin: 0.5rem 0 0 0.5rem;
  display: inline;
  text-align: center;
}
#index .indexMap .card .outer .content .card-body .description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  text-align: center;
  height: 50%;
  text-overflow: ellipsis;
}
#index .indexMap .card .outer .content .card-body a:focus {
  box-shadow: none;
  background-color: #0d6efd;
}

#wall {
  display: flex;
  height: 93.5vh;
  background-color: rgba(211, 208, 208, 0.907);
}
#wall ::-webkit-scrollbar {
  display: none;
}
#wall .banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 0.682);
}
#wall .banner h1 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 2rem;
  color: #fff;
  margin-top: 15%;
}
#wall .banner .smallText {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wall .banner .smallText p {
  font-size: 1.5rem;
  margin-top: 2rem;
  letter-spacing: 1rem;
}
#wall .row {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 70vw;
  max-height: 95vh;
  overflow-y: scroll;
  margin-left: 0rem;
}
#wall .row .photoBlock {
  position: relative;
  transition: z-index 0.5s ease;
  flex-grow: 0;
  flex-shrink: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
#wall .row .photoBlock:hover {
  transition: all 1.2s ease;
  cursor: pointer;
  z-index: 1;
  transform: scale(1.05);
}
#wall .row .photoBlock:hover > .filter {
  background-color: rgba(21, 20, 20, 0.387);
}
#wall .row .photoBlock:hover > .text {
  opacity: 1;
  transform: translateX(0);
}
#wall .row .photoBlock:hover > .text > .button,
#wall .row .photoBlock:hover > .text .arrow {
  transform: translateX(0);
}
#wall .row .photoBlock .img {
  width: 100%;
}
#wall .row .photoBlock .filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  transition: all 2s ease;
}
#wall .row .photoBlock .text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  opacity: 0;
  transform: translateX(-5%);
  transition: all 2s ease;
}
#wall .row .photoBlock .text .detail {
  position: absolute;
  top: 10%;
  left: 7%;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 5rem;
}
#wall .row .photoBlock .text .detail h3 {
  margin: 0.25rem 0 0.5rem 0;
}
#wall .row .photoBlock .text .detail p {
  color: rgb(214, 208, 208);
}
#wall .row .photoBlock .text .line {
  position: absolute;
  right: 5%;
  bottom: 20%;
  border-top: 0.15rem solid rgba(214, 208, 208, 0.577);
  width: 90%;
}
#wall .row .photoBlock .text .button {
  position: absolute;
  bottom: 5%;
  left: 7%;
  width: 100%;
  font-size: 1.25rem;
  color: #fff;
}
#wall .row .photoBlock .text .arrow {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 4.5rem;
  height: 3.5rem;
  transform: translateX(-50%);
  transition: all 3s ease;
}
#wall .row .endBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  background-color: rgba(224, 221, 221, 0.911);
  transition: all 1s ease;
}
#wall .row .endBlock:hover {
  transform: scale(1.05);
  z-index: 1;
  cursor: pointer;
  background-color: #fff;
}

#login {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 95vh;
  margin: 0;
  background-image: linear-gradient(rgba(177, 174, 174, 0.1), rgba(177, 174, 174, 0.1)), url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
}
#login div {
  background-color: transparent;
}
#login .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 84, 48, 0.48);
  color: #fff;
}
#login .card-body img {
  width: 5rem;
  margin: 1rem;
  filter: opacity(0.8);
}
#login .card-body .form-control {
  border: none;
  transition: none;
}
#login .card-body .form-control:focus {
  box-shadow: 0 0 0 0;
}
#login .card-body button {
  border-color: rgba(37, 128, 72, 0.48);
  background-color: rgba(29, 122, 64, 0.692);
}
#login input {
  text-align: center;
}

#register {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 95vh;
  margin: 0;
  background-image: linear-gradient(rgba(177, 174, 174, 0.1), rgba(177, 174, 174, 0.1)), url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
}
#register > div {
  text-align: center;
}
#register .outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}
#register .outerContainer img {
  width: 10rem;
  margin-bottom: 0.5rem;
}
#register .outerContainer h1 {
  margin-bottom: 3rem;
}
#register .outerContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
#register .outerContainer form .form-control {
  border: none;
  transition: none;
}
#register .outerContainer form .form-control:focus {
  box-shadow: 0 0 0 0;
}
#register .outerContainer form label {
  opacity: 1;
}
#register .outerContainer form input {
  width: 15rem;
}
#register .outerContainer form button {
  margin-top: 2rem;
  width: 20rem;
  background-color: #A7D8B8;
  color: #214E34;
}
#register input {
  text-align: center;
}

#detail {
  display: flex;
  height: 90vh;
  padding: 2rem 5rem;
  height: 93.5vh;
}
#detail .col-l {
  width: 35%;
  margin-right: 5%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 100%;
  padding: 0;
  box-shadow: 0.5rem 0.85rem 0.4rem 0.05rem rgba(56, 56, 56, 0.341);
  overflow: scroll;
}
#detail .col-l .card {
  margin-bottom: 0 !important;
}
#detail .col-l .card .card-body .card-title {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}
#detail .col-l .card .card-body .card-text {
  display: flex;
  align-items: center;
  min-height: 4rem;
  font-size: 1.2rem;
}
#detail .col-l .card ul li {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
#detail .col-l .card ul li span {
  margin-top: 0.15rem;
}
#detail ::-webkit-scrollbar {
  display: none;
}
#detail .col-r {
  width: 60%;
  height: 100%;
  padding: 0;
}
#detail .col-r #map {
  position: relative;
  width: 100%;
  height: 40%;
  box-shadow: 0.3rem 0.3rem 0.4rem 0.05rem rgba(56, 56, 56, 0.341);
}
#detail .col-r #map .mapboxgl-ctrl-logo,
#detail .col-r #map .mapboxgl-ctrl-attrib-inner {
  display: none;
}
#detail .col-r .reviewForm {
  border: 0.5px solid rgba(205, 215, 214, 0.3450980392);
  border-radius: 0.1rem;
  margin-top: 1rem;
  height: 15%;
  width: 100%;
  position: relative;
  box-shadow: 0.3rem 0.3rem 0.4rem 0.05rem rgba(56, 56, 56, 0.341);
}
#detail .col-r .reviewForm .reviewInput {
  height: 70%;
}
#detail .col-r .reviewForm .reviewInput .text {
  width: 100%;
  height: 100%;
  margin: 0;
  resize: none;
  display: block;
  border: none;
  outline: none;
  padding: 1rem;
}
#detail .col-r .reviewForm .reviewInput .invalid-feedback {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
#detail .col-r .reviewForm .reviewBottom {
  border: none;
  border-bottom: 1px solid rgba(160, 159, 159, 0.5176470588);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32%;
  border-radius: 0.1rem;
  background-color: rgba(0, 0, 0, 0.03);
}
#detail .col-r .reviewForm .reviewBottom .l-container {
  display: flex;
  align-items: center;
  height: 100%;
}
#detail .col-r .reviewForm .reviewBottom .l-container .starability-basic {
  margin-top: 0.9rem;
  transform: scale(0.6);
}
#detail .col-r .reviewForm .reviewBottom .l-container span {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: -1rem;
  color: rgb(95, 90, 90);
}
#detail .col-r .reviewForm .reviewBottom button {
  width: 4rem;
  font-size: 0.8rem;
  margin-right: 1rem;
  padding: 0.1rem;
  background-color: #00C48A;
  color: #fff;
  border-radius: 0.2rem;
}
#detail .col-r .reviews {
  overflow-y: scroll;
  margin-top: 1rem;
}
#detail .col-r .reviews .review {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(205, 215, 214, 0.2784313725);
  margin-bottom: 0.5rem;
  box-shadow: 0.5rem 0.3rem 0.4rem 0.05rem rgba(56, 56, 56, 0.341);
  background-color: #fff;
}
#detail .col-r .reviews .review .reviewTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.1rem 0.1rem 0.1rem 0rem;
  background-color: rgba(0, 0, 0, 0.076);
  color: rgba(16, 16, 17, 0.9411764706);
}
#detail .col-r .reviews .review .reviewTitle .starability-result {
  transform: scale(0.6) translateY(10%);
}
#detail .col-r .reviews .review .reviewTitle p {
  margin-bottom: 0.2rem;
  font-size: 0.5rem;
}
#detail .col-r .reviews .review .reviewTitle .date {
  color: rgb(126, 121, 121);
}
#detail .col-r .reviews .review .reviewContent {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 1rem;
  overflow: hidden;
  vertical-align: middle;
}
#detail .col-r .reviews .review form {
  width: 10%;
  height: 100%;
}
#detail .col-r .reviews .review form button {
  position: relative;
  top: 15%;
  right: 15%;
  float: right;
  padding: 0.5rem;
  height: 70%;
  border: none;
}
#detail .col-r .reviews .review form button span {
  font-size: 0.5rem;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  text-align: center;
  margin-right: 0.25rem;
}
#detail .col-r ::-webkit-scrollbar {
  display: none;
}

#add {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 95vh;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}
#add .row {
  background-color: transparent;
}
#add .row .outer {
  background-color: transparent;
}
#add .row .outer img {
  min-width: 100%;
  height: 17vw;
}
#add .row .outer .card {
  width: 30vw;
  background-color: transparent;
}
#add .row .outer .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(152, 149, 149, 0.2745098039);
  color: #fff;
  padding: 5%;
}
#add .row .outer .card .card-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#add .row .outer .card .card-body form .mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#add .row .outer .card .card-body form .form-control {
  border: none;
  transition: none;
}
#add .row .outer .card .card-body form .form-control:focus {
  box-shadow: 0 0 0 0;
}
#add .row .outer .card .card-body form .description {
  height: 8rem;
  resize: none;
}
#add .row .outer .card .card-body form input {
  text-align: center;
}
#add .row .outer .card .card-body form button {
  width: 50%;
  transform: translateX(50%);
  background-color: rgba(112, 109, 109, 0.2745098039);
  color: rgba(255, 255, 255, 0.98);
  margin-top: 10%;
  font-weight: bold;
}
#add .row .outer .card .card-body form button:hover {
  background-color: rgba(24, 95, 14, 0.544);
  color: rgba(240, 236, 236, 0.98);
  transform: translateX(50%) scale(1.05);
  font-size: 1.1rem;
}

#edit {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 95vh;
  margin: 0;
  background-size: cover;
  background-position: center;
  padding: 2rem;
}
#edit .row {
  background-color: transparent;
}
#edit .row .outer {
  background-color: transparent;
}
#edit .row .outer > .card {
  width: 35vw;
  background-color: transparent;
}
#edit .row .outer > .card h1 {
  font-size: 2.5rem;
}
#edit .row .outer > .card .card-img-top {
  height: 32vh;
}
#edit .row .outer > .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(184, 186, 186, 0.4509803922);
  color: #fff;
}
#edit .row .outer > .card .card-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  padding: 0 10%;
}
#edit .row .outer > .card .card-body form .mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#edit .row .outer > .card .card-body form .form-control {
  border: none;
  transition: none;
}
#edit .row .outer > .card .card-body form .form-control:focus {
  box-shadow: 0 0 0 0;
}
#edit .row .outer > .card .card-body form .description {
  height: 8rem;
  resize: none;
}
#edit .row .outer > .card .card-body form .delImg {
  flex-direction: row;
}
#edit .row .outer > .card .card-body form input {
  text-align: center;
}
#edit .row .outer > .card .card-body form h6 {
  text-align: center;
}
#edit .row .outer > .card .card-body form .buttonBlock {
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
}
#edit .row .outer > .card .card-body form .buttonBlock button {
  transform: translateX(50%);
  background-color: rgba(49, 161, 49, 0.768627451);
  border-radius: 0.35rem;
  border-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-weight: bold;
}
#edit .row .outer > .card .card-body form .buttonBlock button:hover {
  background-color: rgba(255, 255, 255, 0.865);
  color: rgba(49, 161, 49, 0.768627451);
  transform: translateX(50%) scale(1.05);
}
#edit .row .outer > .card .card-body form .buttonBlock a {
  background-color: rgba(30, 74, 163, 0.662);
  border-color: rgba(195, 199, 206, 0.49);
  color: #fff;
  border-radius: 0.35rem;
  font-weight: bold;
}
#edit .row .outer > .card .card-body form .buttonBlock a:hover {
  background-color: rgba(255, 255, 255, 0.865);
  border-color: rgba(255, 255, 255, 0.768627451);
  color: rgba(30, 74, 163, 0.662);
  transform: scale(1.05);
}

#navbar {
  padding: 1rem;
}
#navbar .logo {
  width: 3rem;
  margin-right: 0.5rem;
}
#navbar .active {
  text-decoration: underline;
  text-underline-offset: 0.7rem;
}
#navbar a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 2rem;
  transition: all 0.7s ease;
  line-height: 1.5rem;
}
#navbar a:hover {
  color: #fff;
}
#navbar a:focus {
  transform: scale(1.1);
}
#navbar .nav-L .home {
  font-size: 2rem;
  margin-left: 1rem;
  color: rgb(233, 230, 230);
}
#navbar .nav-R {
  margin: 0;
}

#error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#error .alert {
  -webkit-animation: none;
          animation: none;
  width: 35%;
  height: 70%;
}

@-webkit-keyframes alert {
  100% {
    z-index: -1;
    visibility: hidden;
  }
}

@keyframes alert {
  100% {
    z-index: -1;
    visibility: hidden;
  }
}/*# sourceMappingURL=app.css.map */