@import url("reset.css");
body {
  font-size: 1rem;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#main {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 95vh;
}

.alert {
  position: absolute;
  z-index: 2;
  width: 100%;
  -webkit-animation: alert 0s ease-in-out 2s forwards;
          animation: alert 0s ease-in-out 2s forwards;
}

@-webkit-keyframes alert {
  100% {
    z-index: -1;
    visibility: hidden;
  }
}

@keyframes alert {
  100% {
    z-index: -1;
    visibility: hidden;
  }
}
#index .indexMap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}
#index .indexMap .mapboxgl-ctrl-logo,
#index .indexMap .mapboxgl-ctrl-attrib-inner {
  display: none;
}
#index .indexMap .card {
  transition: all 0.2s ease-in;
  border-radius: 0.35rem;
  border: 0.1rem solid rgb(95, 93, 93);
  box-shadow: 1px 1px 0 0 rgba(81, 79, 79, 0.875);
}
#index .indexMap .card:hover {
  transform: scale(1.08) translateY(-0.5rem);
  cursor: pointer;
}
#index .indexMap .card .outer {
  display: flex;
  margin: 0.25rem;
  border-radius: 0.35rem;
}
#index .indexMap .card .outer .img img {
  width: 20rem;
  border-bottom-left-radius: 0.35rem;
  border-top-left-radius: 0.35rem;
}
#index .indexMap .card .outer .content {
  position: relative;
  border: 1px solid rgb(95, 93, 93);
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  border-left: none;
  width: 10rem;
  flex-grow: 1;
}
#index .indexMap .card .outer .content .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: 100%;
}
#index .indexMap .card .outer .content .card-body .title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  line-height: 1.5rem;
}
#index .indexMap .card .outer .content .card-body .location {
  margin: 0.5rem 0 0 0.5rem;
  display: inline;
  text-align: center;
}
#index .indexMap .card .outer .content .card-body .description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  text-align: center;
  height: 50%;
  text-overflow: ellipsis;
}
#index .indexMap .card .outer .content .card-body a:focus {
  box-shadow: none;
  background-color: #0d6efd;
}

#login {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 95vh;
  margin: 0;
  background-image: linear-gradient(rgba(177, 174, 174, 0.1), rgba(177, 174, 174, 0.1)), url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
}
#login div {
  background-color: transparent;
}
#login .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 84, 48, 0.48);
  color: #fff;
}
#login .card-body img {
  width: 5rem;
  margin: 1rem;
  filter: opacity(0.8);
}
#login .card-body .form-control {
  border: none;
  transition: none;
}
#login .card-body .form-control:focus {
  box-shadow: 0 0 0 0;
}
#login .card-body button {
  border-color: rgba(37, 128, 72, 0.48);
  background-color: rgba(29, 122, 64, 0.692);
}
#login input {
  text-align: center;
}

#register {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 95vh;
  margin: 0;
  background-image: linear-gradient(rgba(177, 174, 174, 0.1), rgba(177, 174, 174, 0.1)), url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
}
#register > div {
  text-align: center;
}
#register .outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}
#register .outerContainer img {
  width: 10rem;
  margin-bottom: 0.5rem;
}
#register .outerContainer h1 {
  margin-bottom: 3rem;
}
#register .outerContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
#register .outerContainer form .form-control {
  border: none;
  transition: none;
}
#register .outerContainer form .form-control:focus {
  box-shadow: 0 0 0 0;
}
#register .outerContainer form label {
  opacity: 1;
}
#register .outerContainer form input {
  width: 15rem;
}
#register .outerContainer form button {
  margin-top: 2rem;
  width: 20rem;
  background-color: #A7D8B8;
  color: #214E34;
}
#register input {
  text-align: center;
}

#detail {
  display: flex;
  height: 90vh;
  padding: 2rem 5rem;
}
#detail .col-l {
  width: 40%;
  max-height: 100%;
  padding: 0 2rem;
}
#detail .col-r {
  width: 60%;
  height: 100%;
}
#detail .col-r #map {
  position: relative;
  width: 100%;
  height: 40%;
}
#detail .col-r #map .mapboxgl-ctrl-logo,
#detail .col-r #map .mapboxgl-ctrl-attrib-inner {
  display: none;
}
#detail .col-r .reviewForm {
  border: 1px solid #CDD7D6;
  border-radius: 0.1rem;
  margin-top: 1rem;
  height: 15%;
  width: 100%;
  position: relative;
}
#detail .col-r .reviewForm .reviewInput {
  height: 70%;
}
#detail .col-r .reviewForm .reviewInput .text {
  width: 100%;
  height: 100%;
  margin: 0;
  resize: none;
  display: block;
  border: none;
  outline: none;
  padding: 1rem;
}
#detail .col-r .reviewForm .reviewInput .invalid-feedback {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
#detail .col-r .reviewForm .reviewBottom {
  border-bottom: 1px solid #686869;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32%;
  border-radius: 0.1rem;
  background-color: #d3f0d3;
}
#detail .col-r .reviewForm .reviewBottom .l-container {
  display: flex;
  align-items: center;
  height: 100%;
}
#detail .col-r .reviewForm .reviewBottom .l-container .starability-basic {
  margin-top: 0.9rem;
  transform: scale(0.6);
}
#detail .col-r .reviewForm .reviewBottom .l-container span {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: -1rem;
  color: #1f7b36;
}
#detail .col-r .reviewForm .reviewBottom button {
  width: 4rem;
  height: 1.8rem;
  font-size: 0.8rem;
  margin-right: 1rem;
  padding: 0.1rem;
  background-color: #00C48A;
  color: #fff;
}
#detail .col-r .reviews {
  overflow-y: scroll;
  margin-top: 1rem;
}
#detail .col-r .reviews .review {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid rgba(55, 128, 85, 0.5960784314);
  border-left: 2px solid rgba(73, 151, 106, 0.5960784314);
  border-bottom: 3px solid rgba(82, 174, 120, 0.5960784314);
  margin-bottom: 0.5rem;
}
#detail .col-r .reviews .review .reviewTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem 0.1rem 0.1rem 0rem;
  border-right: 1px solid rgba(82, 174, 120, 0.5960784314);
  border-left: 2px solid rgba(82, 174, 120, 0.5960784314);
  background-color: #F7FFF7;
  color: #208AAE;
}
#detail .col-r .reviews .review .reviewTitle .starability-result {
  transform: scale(0.6);
}
#detail .col-r .reviews .review .reviewTitle p {
  margin-bottom: 0.2rem;
  font-size: 0.5rem;
}
#detail .col-r .reviews .review .reviewContent {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 1rem;
  overflow: hidden;
  vertical-align: middle;
}
#detail .col-r .reviews .review form {
  width: 10%;
  height: 100%;
}
#detail .col-r .reviews .review form button {
  position: relative;
  top: 15%;
  right: 15%;
  float: right;
  padding: 0.5rem;
  height: 70%;
  border: none;
}
#detail .col-r .reviews .review form button span {
  font-size: 0.5rem;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  text-align: center;
}

#add {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 95vh;
  margin: 0;
  background-size: cover;
  background-position: center;
  padding: 2rem;
}
#add .row {
  background-color: transparent;
}
#add .row .outer {
  background-color: transparent;
}
#add .row .outer .card {
  width: 25vw;
  background-color: transparent;
}
#add .row .outer .card .card-img-top {
  height: 32vh;
}
#add .row .outer .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(116, 114, 114, 0.4352941176);
  color: #fff;
}
#add .row .outer .card .card-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#add .row .outer .card .card-body form .mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#add .row .outer .card .card-body form .form-control {
  border: none;
  transition: none;
}
#add .row .outer .card .card-body form .form-control:focus {
  box-shadow: 0 0 0 0;
}
#add .row .outer .card .card-body form .description {
  height: 8rem;
  resize: none;
}
#add .row .outer .card .card-body form input {
  text-align: center;
}
#add .row .outer .card .card-body form button {
  width: 50%;
  transform: translateX(50%);
  background-color: rgba(244, 234, 234, 0.5215686275);
  border-color: rgba(208, 207, 207, 0.599);
}

#edit {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 95vh;
  margin: 0;
  background-size: cover;
  background-position: center;
  padding: 2rem;
}
#edit .row {
  background-color: transparent;
}
#edit .row .outer {
  background-color: transparent;
}
#edit .row .outer > .card {
  width: 35vw;
  background-color: transparent;
}
#edit .row .outer > .card .card-img-top {
  height: 32vh;
}
#edit .row .outer > .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(184, 186, 186, 0.4509803922);
  color: #fff;
}
#edit .row .outer > .card .card-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  padding: 0 10%;
}
#edit .row .outer > .card .card-body form .mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#edit .row .outer > .card .card-body form .form-control {
  border: none;
  transition: none;
}
#edit .row .outer > .card .card-body form .form-control:focus {
  box-shadow: 0 0 0 0;
}
#edit .row .outer > .card .card-body form .description {
  height: 8rem;
  resize: none;
}
#edit .row .outer > .card .card-body form .delImg {
  flex-direction: row;
}
#edit .row .outer > .card .card-body form input {
  text-align: center;
}
#edit .row .outer > .card .card-body form h6 {
  text-align: center;
}
#edit .row .outer > .card .card-body form .buttonBlock {
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
}
#edit .row .outer > .card .card-body form .buttonBlock button {
  transform: translateX(50%);
  background-color: rgba(49, 161, 49, 0.768627451);
  border-color: rgba(208, 207, 207, 0.599);
}
#edit .row .outer > .card .card-body form .buttonBlock a {
  background-color: rgba(30, 74, 163, 0.662);
  border-color: rgba(195, 199, 206, 0.49);
  color: #fff;
}

#error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#error .alert {
  -webkit-animation: none;
          animation: none;
  width: 35%;
  height: 70%;
}

@media only screen and (min-width: 340px) {
  html {
    font-size: 4px !important;
  }
}
@media only screen and (min-width: 401px) {
  html {
    font-size: 6px !important;
  }
}
@media only screen and (min-width: 428px) {
  html {
    font-size: 6px !important;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 8px !important;
  }
}
@media only screen and (min-width: 1350px) {
  html {
    font-size: 13px !important;
  }
}
@media only screen and (min-width: 1500px) {
  html {
    font-size: 16px !important;
  }
}/*# sourceMappingURL=app.css.map */