@media screen and (max-width: 1450px) {
  html {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 1370px) {
  html {
    font-size: 12px !important;
  }
  #detail .reviews {
    padding-bottom: 12rem !important;
  }
  #detail .starability-basic {
    margin-top: 0.9rem;
    transform: scale(0.6) translateY(8%) !important;
  }
}
@media screen and (max-width: 1030px) {
  html {
    font-size: 10px !important;
  }
  html body #main #detail {
    margin-top: 9%;
  }
  html body #main #detail .col-r .reviewForm .reviewBottom .l-container .starability-basic {
    margin-top: 1.7rem;
  }
  html body #main #detail .col-r .reviewForm .reviewBottom button {
    width: 7.5rem;
  }
}
@media screen and (max-width: 991px) {
  body #navbar .logo {
    width: 5rem;
    margin-right: 0;
  }
  body #navbar .navbar-brand {
    margin-right: 2.5rem;
    font-size: 2rem;
  }
  body #navbar .active {
    text-decoration: none;
  }
  body #navbar .navbar-collapse {
    position: relative;
  }
  body #navbar .navbar-collapse .nav-L .home {
    margin-left: 0;
    transition: none !important;
  }
  body #navbar .navbar-collapse .nav-R {
    position: absolute;
    bottom: 0;
    right: 0;
    flex-direction: row;
  }
  body #navbar .navbar-collapse .nav-R a {
    margin: 0;
  }
  body #navbar a {
    justify-content: center;
  }
  body #main #add .container .row .outer .card {
    width: 45vw;
  }
  body #main #add .container .row .outer .card .img {
    display: none;
  }
  body #main #index .indexMap .card {
    padding: 1.1rem 0.8rem;
  }
  body #main #index .indexMap .card .outer .content {
    width: 12rem;
  }
  body #main #index .indexMap .card .outer .content .card-body {
    justify-content: space-around;
  }
  body #main #index .indexMap .card .outer .content .card-body .title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
  }
  body #main #index .indexMap .card .outer .content .card-body .description {
    display: none;
  }
  body #main #index .indexMap .card .outer .content .card-body a {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 770px) {
  html {
    font-size: 6px !important;
  }
  body #navbar .logo {
    width: 9.5rem;
    padding: 1rem;
  }
  body #navbar button {
    width: 9rem;
    height: 7rem;
  }
  body #navbar button span {
    width: 4rem;
    height: 4rem;
  }
  body #navbar .active {
    text-decoration: underline;
    text-underline-offset: 1rem;
  }
  body #navbar .navbar-brand {
    font-size: 4.5rem;
  }
  body #navbar .show {
    display: flex;
    opacity: 1 !important;
  }
  body #navbar .navbar-collapse {
    opacity: 0;
    height: 7rem;
  }
  body #navbar .navbar-collapse .nav-L {
    flex-direction: row;
    margin-bottom: -1rem;
    margin-left: auto;
    transform: translateX(4.3rem);
  }
  body #navbar .navbar-collapse .nav-L .home {
    font-size: 3rem;
  }
  body #navbar .navbar-collapse .nav-L a {
    margin: 0 3rem;
  }
  body #navbar .navbar-collapse .nav-R {
    position: static;
    margin-bottom: -1rem;
  }
  body #navbar .navbar-collapse .nav-R a {
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: 3rem;
  }
  body #navbar a {
    font-size: 2.5rem;
  }
  body #main #index .indexMap .card .outer .img img {
    width: 30rem;
  }
  body #main #wall .row .photoBlock .text .detail {
    position: absolute;
    top: 20%;
    left: 0%;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  body #main #wall .row .photoBlock .text .detail h3 {
    max-width: 80%;
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
    line-height: 3.5rem;
  }
  body #main #wall .row .photoBlock .text .detail p {
    display: none;
  }
  body #main #wall .row .photoBlock .text .line {
    display: none;
  }
  body #main #wall .row .photoBlock .text .button {
    display: none;
  }
  body #main #wall .row .photoBlock .text .arrow {
    bottom: 0;
    right: 20%;
    width: 60%;
    height: 7rem;
    transform: translateX(-20%);
  }
  body #main #wall .row .photoBlock .text:hover .arrow {
    transform: translateX(0%);
  }
  body #main #wall .row .col-3 {
    width: 50%;
  }
  body #main #detail {
    flex-direction: column;
    flex-wrap: unset;
    padding: 0;
    margin: 0;
    height: unset;
  }
  body #main #detail .col-l {
    width: 100%;
    margin: 0;
  }
  body #main #detail .col-l .card .card-body h3 {
    text-align: center;
    font-size: 4.5rem;
    line-height: 8rem;
  }
  body #main #detail .col-l .card .card-body p {
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
  }
  body #main #detail .col-l .card ul li {
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
  }
  body #main #detail .col-l .card .card-footer {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
  }
  body #main #detail .col-r {
    width: 100%;
  }
  body #main #detail .col-r #map {
    height: 30vh;
    box-shadow: none;
  }
  body #main #detail .col-r form {
    margin: 0;
    box-shadow: none;
  }
  body #main #detail .col-r form .reviewBottom {
    height: unset;
    padding: 1rem 0;
  }
  body #main #detail .col-r form .reviewBottom .starability-basic {
    min-height: unset;
    margin-top: -0.8rem !important;
  }
  body #main #detail .col-r .reviews {
    margin: 0;
    padding-bottom: 1rem !important;
    height: unset !important;
    font-size: 2.5rem;
  }
  body #main #detail .col-r .reviews .review .reviewContent {
    margin-left: 1rem;
  }
  body #main #add .container .row .outer .card {
    width: 45vw;
    height: 70vh;
  }
  body #main #edit .container .row .outer .card {
    width: 80vw;
    border: none;
  }
  body #main #edit .container .row .outer .card h1 {
    font-size: 5rem;
  }
  body #main #edit .container .row .outer .card .delImg .col {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  body #main #edit .container .row .outer .card .delImg .col .img-card {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  body #main #edit .container .row .outer .card .delImg .col .img-card .card-img {
    width: 20vw;
    border: none;
  }
  body #main #edit .container .row .outer .card .delImg .col .img-card .card-img-overlay {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  body #main #edit .container .row .outer .card .delImg .col .img-card .card-img-overlay input {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (max-width: 580px) {
  html {
    font-size: 6px !important;
  }
  body #main .nav-L {
    margin-left: 18% !important;
  }
  body #main #index .indexMap .card {
    padding: 1.4rem 1rem;
  }
  body #main #index .indexMap .card .outer .content {
    width: 14rem;
  }
  body #main #index .indexMap .card .outer .content .card-body .location {
    display: none;
  }
  body #main #add .container .row .outer .card {
    width: 55vw;
  }
  body #main #add .container .row .outer .card .img {
    display: none;
  }
}
@media only screen and (max-width: 380px) {
  html {
    font-size: 6px !important;
  }
  body #navbar .logo {
    width: 8rem;
  }
  body #navbar .navbar-brand {
    font-size: 3.5rem;
  }
  body #navbar button {
    width: 7rem;
    height: 5rem;
  }
  body #main #index .indexMap .card {
    padding: 0.5rem;
  }
  body #main #index .indexMap .card .outer .img img {
    width: 50rem;
  }
  body #main #index .indexMap .card .outer .content {
    display: none;
  }
  body #main #add .container .row .outer .card {
    width: 65vw;
    border: none;
  }
  body #main #add .container .row .outer .card .img {
    display: none;
  }
  body #main #add .container .row .outer .card h1 {
    font-size: 5rem;
  }
}/*# sourceMappingURL=media.css.map */