<% layout('layout/boilerplate') %>

<div id="login">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <img src="image/login.png" alt="login">
                        <form action="/login" method="POST" class="validated d-flex justify-content-center align-items-center flex-column" novalidate >
                            <div class="mb-3 text-center">
                                <label class="form-label" for="username">使用者名稱</label>
                                <input class="form-control" type="text" name="username" id="username" required>
                                <div class="invalid-feedback">
                                    請輸入使用者名稱
                                </div>
                            </div>
                            <div class="mb-3 text-center">
                                <label class="form-label" for="password">密碼</label>
                                <input class="form-control" type="password" name="password" id="password" required>
                                <div class="invalid-feedback">
                                    請輸入使用者密碼
                                </div>
                            </div>
                            <button class="btn btn-success">登錄</button>
                        </form>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>